@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::view-transition-name(root) {
    @apply view-transition-opacity;
} */

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.5s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-to-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.transition-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.transition-container > * {
	grid-row: 1;
	grid-column: 1;
}

